@import "colors";

.step-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: 500ms;
}

.step-container_left {
  opacity: 0;
  transform: translateX(-100%);
}

.step-container_right {
  opacity: 0;
  transform: translateX(100%);
}
