@import "colors";
@import "fonts";

html {
  height: 100%;
  background: linear-gradient($top-background, $bottom-background);
}

body {
  margin: 0;
  font-family: 'open-sans';
  font-size: 18px;
  color: white;
}
